.scroll-pane.transparent-background{
   -fx-background-color:transparent;
}

.scroll-pane.transparent-background > .viewport {  //not .scrollpane but .scroll-pane
   -fx-background-color: transparent;
}

.scroll-pane.transparent-background .viewport {
       -fx-background-color: transparent;
}

.padding-5{
    -fx-padding: 5;
}

#paneMap {
    -fx-border-color: black;
}

#tabPane{
    -fx-close-tab-animation: none;
}