.no-arrow > .arrow-button {
    -fx-padding: 0;
}
.no-arrow > .arrow-button > .arrow {
    -fx-padding: 0;
}
.min-width-100{
    -fx-min-width: 100;
}
.padding-5{
    -fx-padding: 5;
}
.pane-style{
    -fx-background-color: white;
    -fx-stroke-width: 1;
    -fx-stroke-radius: 5;
    -fx-stroke: gray;
}